<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
{{ 'carousel-logo.css' | asset_url | stylesheet_tag }}

<!-- Slider main container -->
<div class="carousel-logo-swiper">
  <!-- Additional required wrapper -->
  <div class="carousel-logo-swiper-wrapper">
    {% for block in section.blocks %}
      <div class="carousel-logo-swiper-slide">
        <img
          src="{{ block.settings.logo_slider_image | img_url: '1200x400' }}"
          style="| append: 'em' alt="
          {{ block.settings.logo_slider_title }}
          ">
      </div>
    {% endfor %}
  </div>

  <!-- Pagination -->
  <div class="carousel-logo-swiper-pagination"></div>

  <!-- Navigation buttons -->
  <div class="carousel-logo-swiper-button-prev"></div>
  <div class="carousel-logo-swiper-button-next"></div>

  <!-- Scrollbar -->
  <div class="carousel-logo-swiper-scrollbar"></div>
</div>

{% style %}


  .carousel-logo-swiper {
    width: {{ section.settings.logo_size_slider | append: 'em' }}%;
    height: auto;
  }
{% endstyle %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
{% javascript %}
  document.addEventListener('DOMContentLoaded', function() {
    const carouselLogoSwiper = new Swiper('.carousel-logo-swiper', { // Swiper options
      direction: 'horizontal',
      loop: true,
      pagination: {
        el: '.carousel-logo-swiper-pagination'
      },
      autoplay: {
        delay: 7000
      }
    });
  });
{% endjavascript %}
{% schema %}
  {
    "name": "Product slider",
    "settings": [
      {
        "type": "range",
        "id": "logo_size_slider",
        "min": 10,
        "max": 100,
        "step": 10,
        "unit": "em",
        "label": "image size",
        "default": 100
      }
    ],
    "blocks": [
      {
        "type": "multicolumn_section",
        "name": "Multicolumn Section",
        "settings": [
          {
            "type": "image_picker",
            "label": "Select Image",
            "id": "logo_slider_image"
          }, {
            "type": "text",
            "label": "Title",
            "id": "logo_slider_title"
          }, {
            "type": "url",
            "label": "Link",
            "id": "link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "carousel logo",
        "category": "Custom"
      }
    ]
  }
{% endschema %}