{% if section.settings.image_with_text_image != blank %}
  <div class="image_with_text_image">
    <img src="{{ section.settings.image_with_text_image | img_url: '1200x600'  }}" alt="">
    <div class="text-overlay">
      {{ section.settings.text-overlay }}
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Hero section",
    "tag": "header",
    "class": "hero-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_with_text_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text overlay"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      }, {
        "type": "select",
        "id": "hero_size",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "label": "Extra Small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }, {
            "label": "Extra Large",
            "value": "x-large"
          }
        ]
      }, {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "value": "medium"
          }, {
            "label": "Large",
            "value": "large"
          }
        ]
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Image with text overlay",
        "category": "Image"
      }
    ]
  }
{% endschema %}