{% if section.settings.image_with_text_image != blank %}
  <div class="image_with_text_image">
    <img src="{{ section.settings.image_with_text_image | img_url: '1200x600'  }}" alt="">
    <div class="overlay-text">
      {{ section.settings.text }}</div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "image with text",
    "tag": "div",
    "class": "image with text",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Overlay Text",
        "default": "Your default text here"
      }, 
      {
        "type": "image_picker",
        "id": "image_with_text_image",
        "label": "Image"
      }
    ]
  }
{% endschema %}