<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
{{ 'slide-show.css' | asset_url | stylesheet_tag }}


<!-- Slider main container -->
<div class="swiper1">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          src="{{ block.settings.slide_image | img_url: '1200x400' }}"
          loading="lazy"
          alt="{{ block.settings.slide_title }}">
      </div>
      <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    {% endfor %}
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>


{% style %}
 .swiper1{
    width: {{ section.settings.slideshow_image_size }}%;
    height: auto;
  }
{% endstyle %}
{% javascript %}
  document.addEventListener('DOMContentLoaded', function() {
    const swiper1 = new Swiper('.swiper1', {

      // Default parameters
      direction: 'horizontal',
      loop: true,
      pagination: {
        el: '.swiper1-pagination'
      },
      navigation: {
        nextEl: '.swiper1-button-next',
        prevEl: '.swiper1-button-prev'
      },
      scrollbar: {
        el: '.swiper1-scrollbar'
      },
      autoplay: {
        delay: 3000, // Small delay for near-continuous scroll
        disableOnInteraction: true,
        pauseOnMouseEnter: true
      },
      speed: 20200,
      slidesPerView: 1,
      spaceBetween: 2
    });
  });


{% endjavascript %}


{% schema %}
  {
    "name": "Slide-show",
    "settings": [
      {
        "type": "checkbox",
        "id": "fill-screen",
        "label": "Slides should fill available space",
        "default": false
      }, {
        "type": "range",
        "id": "slideshow_image_size",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "image size",
        "default": 50
      }
    ],
    "blocks": [
      {
        "type": "multicolumn_section",
        "name": "Multicolumn Section",
        "settings": [
          {
            "type": "image_picker",
            "label": "Select Image",
            "id": "slide_image"
          }, {
            "type": "text",
            "label": "Title",
            "id": "slide_title"
          }, {
            "type": "url",
            "label": "Link",
            "id": "link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slide-show",
        "category": "Custom"
      }
    ]
  }
{% endschema %}