<h1 style="font-family: {{ section.settings.heading_font.family }};">
  {{ section.settings.footer_linklist_title }}
</h1>
<p>{{ section.settings.inline }}</p>
{% stylesheet %}

{% endstylesheet %}
{% schema %}
  {
  "name": "Text box",
  "settings": [
    {
      "type": "text",
      "id": "footer_linklist_title",
      "label": "Heading",
      "default": "is this placeholder text?"
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading font",
      "default": "helvetica_n4"
    },
    {
      "type": "inline_richtext",
      "id": "inline",
      "default": "my <i>inline</i> <b>text</b>",
      "label": "Inline rich text"
    },
    {
      "type": "color",
      "id": "body_text",
      "label": "Body text",
      "default": "#000000"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph"
    }
  ],
  "presets": [
    {
      "name": "Text box"
    }
  ]
}
{% endschema %}