.width {
    max-width: var(--page_width);
    width: calc(100% - 40px);
    
  
  }
  /*
  reset 
  */
  * {
    box-sizing:border-box;
  }
  img svg {
    display: block;
    width:100%;
  }
  /* 
  header 
  */
   .header-logo {
    display: block;
   }
  header {
    text-align: center;
  }
  @media (min-width: 960px) {
    .width {
      width: calc(100% - 80px);
    }
  }
  .nav-bar {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
  }
  
  .header-hamburger {
    width: 32px;
    display: block;
    margin: 0 auto;
  }
  
  .header-hamburger-bar {
    height: 2px;
    width: 100%;
    display:block;
    
  }
  
 
  
  button,
  input,
  select,
  textarea {
    outline: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  } 


  
    header-nav-overlay.active {
    display: block; /* Show when active */
  }
  .header-flex {
    display: flex;
    justify-content:space-between;
    align-content:center;
  }
  .header-nav-overlay {
    display: none;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0,0,0,0.7);
    }
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    background: var(--bg);
    width: 90%;
    max-width: 300px;
    z-index: 10;
    transform: translateX(-100%);
    transition: 0.4s transform; 
  }
  
  li {
    list-style: none;
  }
  .header-nav-anchor {
    display: block; 
    padding:20px;
    color: var(--textColor);
  }