.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
}
.product.cart {
  background-color: #93abbf;
  border: 1px solid #ddd;
  border-radius: 2;
  padding: 20px;
  text-align: center;
}
.buy-now-button {
  background-color: steelblue;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
