


  
  .swiper-slide {
    object-fit: cover;
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    border-radius: 150px; 
  }
  
  .swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: rgba(85, 85, 85, 0.1); /* Darker grey on hover with slightly higher opacity */
  }
  
  .swiper-button-next {
    right: 10px; /* Adjust right position */
  }
  
  .swiper-button-prev {
    left: 10px; /* Adjust left position */
  }